In [18]:
import pandas as pd
import ast

estoque = pd.read_csv('spreadsheets/soma_estoque.csv')
pedidos = pd.read_csv('spreadsheets/pedidos.csv')
precos = pd.read_csv('spreadsheets/infos_de_precos.csv')
fornecedores = pd.read_csv('spreadsheets/fornecedores.csv')

In [9]:
quantid_comprada = pedidos['produtos']
quantid_comprada

0    [{'id': 2, 'quantidade': 4}, {'id': 3, 'quanti...
1    [{'id': 1, 'quantidade': 2}, {'id': 2, 'quanti...
Name: produtos, dtype: object

In [19]:
pedidos['produtos'] = pedidos['produtos'].apply(ast.literal_eval) #Transformando em lista
print(pedidos['produtos'].apply(type).unique()) #Verificando tipo de dados da coluna

[<class 'list'>]

In [21]:
# Explodindo a lista para separar cada produto em uma linha
a = pedidos.explode('produtos').reset_index(drop=True)

# Transformando os dicion√°rios em colunas separadas
a = a.join(pd.DataFrame(a.pop('produtos').tolist()).add_prefix('prod_'))
a

     cliente  id    status  prod_id  prod_quantidade
0  Empresa A   1      Pago        2                4
1  Empresa A   1      Pago        3                3
2  Empresa B   2  Pendente        1                2
3  Empresa B   2  Pendente        2                5

In [22]:
estoque

   idP  estoque
0    1       25
1    2       50
2    3       30
3    4       20

In [24]:
merged = pd.merge(a, estoque, left_on='prod_id', right_on='idP', how='inner')
merged

     cliente  id    status  prod_id  prod_quantidade  idP  estoque
0  Empresa A   1      Pago        2                4    2       50
1  Empresa A   1      Pago        3                3    3       30
2  Empresa B   2  Pendente        1                2    1       25
3  Empresa B   2  Pendente        2                5    2       50

In [26]:
merged['estoque'] = merged['estoque'] - merged['prod_quantidade']
merged

     cliente  id    status  prod_id  prod_quantidade  idP  estoque
0  Empresa A   1      Pago        2                4    2       42
1  Empresa A   1      Pago        3                3    3       24
2  Empresa B   2  Pendente        1                2    1       21
3  Empresa B   2  Pendente        2                5    2       40

In [27]:
estoque['estoque'] = merged['estoque']
estoque

   idP  estoque
0    1       42
1    2       24
2    3       21
3    4       40

In [6]:

# Criando um exemplo simples
df_test = pd.DataFrame({
    'cliente': ['Empresa A', 'Empresa B'],
    'produtos': [
        [{'id': 1, 'quantidade': 2}, {'id': 2, 'quantidade': 3}],
        [{'id': 3, 'quantidade': 1}, {'id': 4, 'quantidade': 5}]
    ]
})
df_test

     cliente                                           produtos
0  Empresa A  [{'id': 1, 'quantidade': 2}, {'id': 2, 'quanti...
1  Empresa B  [{'id': 3, 'quantidade': 1}, {'id': 4, 'quanti...

In [7]:

# Usando explode para separar os produtos em linhas diferentes
df_exploded_test = df_test.explode('produtos', ignore_index=True)

# Exibindo o resultado
print(df_exploded_test)

     cliente                    produtos
0  Empresa A  {'id': 1, 'quantidade': 2}
1  Empresa A  {'id': 2, 'quantidade': 3}
2  Empresa B  {'id': 3, 'quantidade': 1}
3  Empresa B  {'id': 4, 'quantidade': 5}